<%- include('header'); -%>


<h1>About</h1>
<ul>

    <li>
        <h4><%=aboutHeading%></h4>
    </li>
    <li>

        <h4>Batch Topper</h4>
    </li>
    <li>

        <h4>Full Stack Web Developer</h4>
    </li>
    <li>
        <h4>
            
            Vice President - Newton School Coding Club (A coding society of our college)
        </h4>
    </li>
</ul>



<%- include('footer'); -%>